## 带恢复告警的模版 
# 注：alertmanager.yml中wechat_configs选项参数需设置为：send_resolved: true
{{ define "wechat.default.message" }}
{{ range $i, $alert :=.Alerts }}
====================alertmanager监控告警===================
告警程序: prometheus_alert
告警状态：{{   .Status }}
告警级别：{{ $alert.Labels.severity }}
告警类型：{{ $alert.Labels.alertname }}
告警应用：{{ $alert.Annotations.summary }}
故障主机: {{ $alert.Labels.instance }}
告警主题: {{ $alert.Annotations.summary }}
触发阀值：{{ $alert.Annotations.value }}
告警详情: {{ $alert.Annotations.description }}
触发时间: {{ $alert.StartsAt.Format "2020-01-24 00:00:00" }}
告警链接: {{ template "__alertmanagerURL" . }}
恢复时间: {{ $alert.EndsAt.Format "2020-01-24 00:00:00" }}
==========================end==============================
{{- end }}
{{- end }}